
:root{
    --txtcolor0: #fff;
    --txtcolor1: #8c8c8c;
    --txtcolor2: #9a9a9a;
    --txtcolor3: #afafaf;
    --color1: #d1d5da;
}
body{
    margin: 0;
    padding: 0;
    background: #fff;
    font-family: 'Public Sans','Helvetica Neue',sans-serif;
    color: var(--txtcolor1);
}
header {
    width: 100%;
    height: 60px;
    background: #2a2f33;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
header .content {
    justify-content: space-between;
    align-items: center;
}
.header_logo{
    width: fit-content;
}
.header_logo a {
    display: block;
    color: var(--txtcolor3);
    text-decoration: none;
    font-size: 20px;
    transition: 300ms;
}
.mylinks{
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
.item-mylinks{
    text-decoration: none;
    color: var(--txtcolor3);
     transition: 300ms;
}
.header_logo a:hover,
.item-mylinks:hover{
    color: var(--txtcolor0);
    transition: 300ms;
}
.content {
    width: 100%;
    max-width: 1280px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-wrap: wrap;
    box-sizing: border-box;
}
.content_p1{
    padding: 35px 0 0 0;
    min-height: calc(100vh - 120px);
}
.sidebar{
    width: 25%;
    height: auto;
    position: relative;
    padding: 0 40px 50px 0;
    box-sizing: border-box;
    transition: 300ms;
}
.sideba:hover{
    transition: 300ms;
}
.sidebar-part{
    
}
.box-photo{
    width: 100%;
}
.photo{
    width: 100%;
    border-radius: 6px;
}
.nophoto {
    background: #2a2f33;
    width: 100%;
    height: 260px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #7d7d7d;
    font-size: 120px;
    border-radius: 4px;
}
.maintitle {
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 13px;
}
.maindescription{
    font-size: 16px;
    font-weight: 400;
}
.myactivityname{
    border-top: 1px solid var(--txtcolor2);
    color: var(--txtcolor2);
    padding: 9px 0px 5px 0px;
    font-size: 16px;
    margin-top: 30px;
    margin-bottom: 10px;
}
.myactivity {
    font-size: 16px;
    font-weight: 400;
    margin: 0 0 0 0;
    line-height: 21px;
}
.box-inworkuse {
    display: flex;
    flex-wrap: wrap;
}
.inworkusename {
    border-top: 1px solid var(--txtcolor2);
    color: var(--txtcolor2);
    padding: 9px 0px 5px 0px;
    font-size: 16px;
    margin-top: 30px;
    margin-bottom: 15px;
}
.item-inworkuse {
    display: flex;
    justify-content: center;
    align-items: center;
    background: #e2e2e2;
    margin: 0 7px 7px 0;
    padding: 4px 7px 4px 7px;
    box-sizing: border-box;
    border-radius: 4px;
    font-size: 12px;
    font-weight: 700;
}
.contacts-container,
.blog-container,
.works-container{
    display: flex;
    flex-wrap: wrap;
    margin: -10px -10px 0 -10px;
}
.card-box {
    width: 50%;
    padding: 10px;
    box-sizing: border-box;
}
.card {
    border: 1px solid var(--color1);
    color: var(--txtcolor1);
    padding: 10px 10px 10px 10px;
    border-radius: 3px;
    height: 90px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-decoration: none;
    transition: 300ms;
}
.card-header{
    display: block;
}
.card-title {
    color: #394eb7;
    transition: 300ms;
}
.card-tags {
    display: flex;
    flex-wrap: wrap;
}
.item-card-tags {
    display: block;
    width: fit-content;
    background: #ececec;
    margin: 0 7px 0 0;
    padding: 4px 8px 4px 8px;
    box-sizing: border-box;
    border-radius: 4px;
    font-size: 12px;
    font-weight: 700;
    color: #b7b7b7;
    transition: 300ms;
}
.card:hover{
    background: #f9f9f9;
    transition: 300ms;
}
.card:hover .item-card-tags{
    background: #e2e2e2;
    color: var(--txtcolor1);
    transition: 300ms;
}
.card:hover .card-title{
    text-decoration: underline;
    transition: 300ms;
}
.modular_title {
    width: calc(100% - 20px);
    margin: 10px 10px 0 10px;
    padding: 10px 0 15px 0;
    border-top: 1px solid var(--txtcolor2);
    box-sizing: border-box;
}
.modular_title a{
    color: var(--txtcolor1);
    text-decoration: none;
    transition: 300ms;
}
.modular_title a:hover{
    color: #394eb7;
    transition: 300ms;
}
.contacts-box {
    display: flex;
    flex-wrap: wrap;
    padding: 0px 10px 32px 10px;
}
.contact {
    display: flex;
    text-decoration: none;
    border: 1px solid var(--color1);
    color: var(--txtcolor1);
    padding: 8px 10px 8px 10px;
    border-radius: 5px;
    margin-right: 12px;
    transition: 300ms;
    margin-bottom: 8px;
}
.contact:hover{
    background: #f9f9f9;
    transition: 300ms;
}
.content-item{
    
}
.content-item-title {
    width: 100%;
    margin: 0 0 10px 0;
    padding: 12px 0 15px 0;
    border-top: 1px solid var(--txtcolor2);
    box-sizing: border-box;
}
.content-item-title a{
    color: var(--txtcolor1);
    text-decoration: none;
    transition: 300ms;
}
.content-item-title h2{
    margin: 0;
}
.content-item-title a:hover{
    color: #394eb7;
    transition: 300ms;
}
.content-item-txt {

}
.content-item-txt p{
    line-height: 20px;
}
.content-item-txt a:focus,
.content-item-txt a:visited,
.content-item-txt a{
    color: #3983ea;
}
.content-item-txt img {
    display: block;
    border-radius: 6px;
    border: 1px solid #c5c5c5;
    max-width: 100%;
    margin: 20px 0 35px 0;
}
.item-content{
    padding: 0 35px 0 35px;
}
.content-item-txt pre {
    background-color: #295088;
    border-radius: 4px;
    padding: 10px 8px;
    position: relative;
    overflow-y: auto;
}
.content-item-txt p code {
    background: #295088;
    color: #eaeaea;
    border-radius: 2px;
    padding: 1px 2px;
    font-size: 14px;
}
.content-item-txt pre code {
    color: #eaeaea;
    font-size: 14px;
}
.content-item-txt blockquote {
    background: #eaeaea;
    margin: 0;
    padding: 10px 0 8px 20px;
    border-left: 1px solid #b5b5b5;
}
.content-item-txt blockquote p{
    margin: 0;
}
.page-content {
    width: 75%;
    height: auto;
    padding: 0 0 60px 0;
    box-sizing: border-box;
    position: relative;
    opacity: 0;
    transition: 300ms;
}
.page-content_on{
    opacity: 1;
    transition: 300ms;
}
.modular_txt-_title {
    width: calc(100% - 20px);
    margin: 30px 0 0 0;
    padding: 10px 0 15px 0;
    border-top: 1px solid var(--txtcolor2);
    box-sizing: border-box;
}
.modular_txt-container{
    
}
footer {
    height: 60px;
    background: #2a2f33;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #afafaf;
    font-size: 14px;
}
.sidebar-close{
    display: none;
}
@media (max-width: 1320px){
    .content {
        padding: 0 25px 0 25px;
    }
    .content_p1 {
        padding: 35px 25px 0 25px !important;
    }
    .sidebar {
        padding: 0 25px 50px 0;
    }  
    .item-content {
        padding: 0 25px 0 25px;
    }
}
@media (max-width: 1024px){
    .content {
        padding: 0 25px 0 25px;
    }
    .content_p1 {
        padding: 35px 25px 0 25px !important;
    }
    .sidebar {
        padding: 0 25px 50px 0;
    }  
    .item-content {
        padding: 0 15px 0 15px;
    }
    .card-box {
        width: 100%;
    } 
}
@media (max-width: 769px){
    .maintitle {
        font-size: 16px;
        margin-bottom: 13px;
        margin: 10px 0 0 0;
    }
    .maindescription {
        font-size: 14px;
        margin: 7px 0 0 0;
    }
    .inworkusename,
    .myactivityname {
        font-size: 14px;
        margin-top: 20px;
        margin-bottom: 7px;
    }  
    .inworkusename,
    .myactivity {
        font-size: 14px;
    }   
    .item-inworkuse {
        font-size: 11px;
    }
}

@media (max-width: 736px){
    .content_p1 {
        padding: 25px 18px 0 18px !important;
    }
    .sidebar-close {
        display: block;
        height: 32px;
        background: #bbbbbb;
        color: #68696b;
        position: relative;
        overflow: hidden;
        box-sizing: border-box;
        padding: 8px 1px 6px 9px;
        border-radius: 4px;
        margin-bottom: 8px;
    } 
    .sidebar_hide{
        width: 42px;
        overflow: hidden;
        padding: 0 10px 0 0;
    }
    .sidebar-close_on{
        width: 32px;
    }
    .sidebar-close_on .sidespan2{
        display: none;
    }
    .sidebar_hide .myactivityname,
    .sidebar_hide .inworkusename,
    .sidebar_hide .sidebar-part{
        opacity: 0;
    }
    .page-content-sidebar_hide{
        width: calc(100% - 42px);
    }
}

@media (max-width: 567px){
    .sidebar-close{
        display: none;
    }   
    .sidebar {
        width: 100%;
        padding: 0 0 30px 0;
    }
    .maintitle {
        font-size: 20px;
    } 
    .maindescription {
        font-size: 17px;
        margin: 7px 0 0 0;
    }   
    .inworkusename, .myactivityname {
        font-size: 17px;
    }
    .item-inworkuse {
        font-size: 12px;
    }
    .page-content {
        width: 100%;
    }
    .contact {
        width: 100%;
    }
    .item-content {
        padding: 0 0 0 0;
    }
    .card-title {
        min-height: 40px;
    }
    .item-card-tags{
        margin: 0 7px 5px 0;
    }
    .card {
        min-height: 90px;
        height: auto;
    }
}



























